<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/podcasts/new.css" />
<%- include('./partials/nav') %>

<main>
 <h1> Welcome to Podviews!</h1>
 <h2>The new way to grow and review podcasts is here!</h2>
 <h2>Please sign in to edit a podcast or review one.</h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
