<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/podcasts/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div>
      <%= podcast.title %>
      <a href="/podcasts/<%= podcast._id %>/edit">
        <button>Edit Podcast</button>
      </a>
    </div>
    <div>Episode Number: </div>
    <div><%= podcast.EpisodeNo %></div>
    <div>Host: </div>
    <div><%= podcast.host %></div>
    <div>Special Guest: </div>
    <div><%= podcast.guest %></div>
    <div>URL Link: </div>
    <div><%= podcast.link %></div>
</section>
</main>
  
<%- include('../partials/footer') %>