<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/podcasts/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section  id="font">
    <div>Title: </div>
    <div>
      <%= podcast.title %>
    </div>
    <div>Episode Number: </div>
    <div><%= podcast.EpisodeNo %></div>
    <div>Host: </div>
    <div><%= podcast.host %></div>
    <div>Special Guest: </div>
    <div><%= podcast.guest %></div>
    <div>URL Link: </div>
    <div><%= podcast.link %></div>
    <a href="/podcasts/<%= podcast._id %>/edit">
      <% if (user) { %> 
      <button>Edit Podcast</button>
    </a>
</section>
</section>
<% // new markup below %>

<h2>Reviews</h2>
<form 
  id="add-review-form"
  action="/podcasts/<%= podcast._id %>/reviews"
  method="POST"
>
  <label for="content-textarea">Review:</label>
  <textarea name="content" id="content-textarea"></textarea>
  <label for="rating-select">Podcast Rating:</label>
  <select name="rating" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10" selected>10</option>
  </select>
  <button type="submit">Add Review</button>
</form>
<% if (podcast.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% podcast.reviews.forEach(function(review) { %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>
<% } %>
</main>
  
<%- include('../partials/footer') %>